@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

:root{
    --color-rocket: #7159c1;
}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto,sans-serif;
}

header{
    max-width: 100%;
    background: var(--color-rocket);
}

header div{
    margin: 30px;
}

header div a{
    text-decoration: none;
    background-color: var(--color-rocket);
    opacity: 0.60;
    font-weight: bold;
}

header a:hover{
    opacity: 1.00;
    text-decoration: underline;
}

#wrapper{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    text-align: center;
    padding: 0;
}
