*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding: 28px;
    background-color:#660fbd;
    text-align: center;
}
header a{
    text-decoration: none;
    color: white;
    
    
}

header a:hover{
    color:white ;
    transition: 200ms;
    opacity: 90;

}