@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

:root{
    --color-rocket: #7159c1;
    --color-text: black;
}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Roboto,sans-serif;
}

header{
    max-width: 100%;
    background: var(--color-rocket);
}

header div{
    margin: 30px;
}

#wrapper{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    text-align: center;
    padding: 0;
}


header div a, 
#social a{
    text-decoration: none;
    opacity: 0.60;
    font-weight: bold;
    border: 30px;
}

header a:hover, 
#social a:hover{ 
    opacity: 1.00;
    text-decoration: underline;
}



#info {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}    

#info img{
    width: 20%;
    border-radius: 50%;
    border: 5px solid var(--color-text);
}

#info p{
    margin-top: 50px;
    color:var(--color-text);
}

footer{
    width: 100%;
    background: var(--color-rocket);
    padding: 1px;
    text-align: center;
}

#social{
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    text-align: center;
}


